/* Colors Used:
    Night #151414
    Mountbatten pink #A07178
    Pale Dogwood #E6CCBE
    Reseda Green #717744
*/

@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Playwrite+FR+Trad:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  background-color: #151414;
}

nav {
  display: flex;
  right: 0;
  padding: 10px;
  position: fixed;
}

nav a {
  padding: 5px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #717744;
  font-size: 20px;
}

nav a:hover {
  color: #383b22;
}

h1 {
  font-family: "Beth Ellen", serif;
  font-weight: 400;
  font-style: normal;
  color: #e6ccbe;
  font-size: 40px;
}

h2 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: #a07178;
}

h3 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: #a07178;
}

p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: large;
  color: #e6ccbe;
}

.Contacts {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  background-color: #717744;
  padding: 20px;
  }

.quote {
  display: block;
  
  padding: 2em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #383b22;
  background-color: #E6CCBE;
}

.headshot {
  border-radius: 100%;
  max-width: 50%;
  height: auto;
  margin-left: 30px;
}

.home div {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
}
